body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 243, 252);
    color: black;
    margin:0;
    padding:0;
}

header{
    background-color: rgb(255, 172, 227);
    padding: 30px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 40px;
    color: lavenderblush;
}

header p{
    color: black;
    font-size: 20px;
}

main{
    max-width: 700px;
    margin: 30px auto;
    padding: 0 20px;
}

.top-item{
    display: flex;
    align-items: center;
    background-color: rgb(255, 183, 227);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgb(12, 12, 12);
    gap: 15px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}